body{
    background-color: rgb(166, 190, 235);
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

header{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

#inputs{
    margin-bottom: 10px;
}

#submit{
    float: right;
    margin-right: 49px; 
}

h3{
    font-size: 24px;
}

.high{
    color: red;
}

td{
    border-left:solid black .5px;
    border-bottom: solid black 1px;
}

th{
    background-color: rgb(0, 0, 95);
    color: white;
    margin-right: 10px;
}

table{
    text-align: center;
}